In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
## Load the dataset
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
## Preprocess the dataset
## Drop unnecessary columns
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
## Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender']= label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [6]:
## Onehote encode Geography
onehot_encoder_geo = OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [7]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [8]:
geo_encoded_df= pd.DataFrame(geo_encoder.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
## Combine the encoded Geography with the original data
data = pd.concat([data, geo_encoded_df], axis=1)
data = data.drop(['Geography'], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
## Save the encoders and scaler
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [11]:
## Divide teh dataset into features and target variable
X = data.drop('Exited', axis=1)
y = data['Exited']


## Split data in train and test set
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

## Scal these features
scaler= StandardScaler()
X_train= scaler.fit_transform(X_train)
X_test= scaler.transform(X_test)

In [12]:
X_train.shape[1],X_test.shape

(12, (2000, 12))

In [13]:
with open ('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Implemntation

In [14]:
%pip install tensorflow

import tensorflow as tf
import tensorflow.keras as keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

Requirement already satisfied: tensorflow in d:\my projects\churn predict by ann\.venv\lib\site-packages (2.15.0)
Requirement already satisfied: tensorflow-intel==2.15.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow) (2.15.0)
Requirement already satisfied: absl-py>=1.0.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.3.1)
Requirement already satisfied: astunparse>=1.6.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (3.14.0)
Requirement already satisfied: libclang>=13.0.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.2.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.2.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.26.4)
Requirement already satisfied: opt-einsum>=2.3.2 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (3.4.0)
Requirement already satisfied: packaging in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (25.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (4.25.8)
Requirement already satisfied: setuptools in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (65.5.0)
Requirement already satisfied: six>=1.12.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (4.14.1)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.31.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.73.1)
Requirement already satisfied: tensorboard<2.16,>=2.15 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.2)
Requirement already satisfied: tensorflow-estimator<2.16,>=2.15.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.0)
Requirement already satisfied: keras<2.16,>=2.15.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.40.3)
Requirement already satisfied: google-auth-oauthlib<2,>=0.5 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (1.2.2)
Requirement already satisfied: markdown>=2.6.8 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.8.2)
Requirement already satisfied: requests<3,>=2.21.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.32.4)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.1.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.0.0)
Requirement already satisfied: charset_normalizer<4,>=2 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2025.7.14)
Requirement already satisfied: pyasn1>=0.1.3 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from rsa<5,>=3.1.4->google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.6.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.15.0->tensorflow) (0.45.1)
Requirement already satisfied: oauthlib>=3.0.0 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.3.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in d:\my projects\churn predict by ann\.venv\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.0.2)
Note: you may need to restart the kernel to use updated packages.
WARNING:tensorflow:From d:\My Projects\Churn Predict by ANN\.venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [15]:
## Build the ANN model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),  ## HL1 Connected with input layer
    Dense(32, activation='relu'), ## HL2
    Dense(1,activation='sigmoid')  ## Output layer
])

WARNING:tensorflow:From d:\My Projects\Churn Predict by ANN\.venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [16]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
import tensorflow
opt= tensorflow.keras.optimizers.Adam(learning_rate=0.01)

In [18]:
## Compile the model
model.compile(optimizer=opt, loss="binary_crossentropy", metrics=["accuracy"])

In [19]:
## Set up the TensorBoard
import datetime
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir= "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir, histogram_freq=1)

In [20]:
## Set up early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [21]:
## Train the model
history = model.fit(
    X_train,y_train,validation_data=(X_test, y_test),epochs=100,
    callbacks=[tensorflow_callback, early_stopping]
)

Epoch 1/100
WARNING:tensorflow:From d:\My Projects\Churn Predict by ANN\.venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\My Projects\Churn Predict by ANN\.venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 0.4005 - accuracy: 0.8324 - val_loss: 0.3616 - val_accuracy: 0.8550
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3552 - accuracy: 0.8546 - val_loss: 0.3483 - val_accuracy: 0.8590
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3485 - accuracy: 0.8586 - val_loss: 0.3412 - val_accuracy: 0.8635
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3450 - accuracy: 0.8609 - val_loss: 0.3426 - val_accuracy: 0.8580
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3401 - accuracy: 0.8601 - val_loss: 0.3485 - val_accuracy: 0.8600
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3344 - accuracy: 0.8627 - val_loss: 0.3526 - val_accuracy: 0.8565
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8648 - val_loss: 0.3474 - val_accuracy: 0.8585
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3329 - accuracy: 0.8655 - val_loss: 0.3435 - val_accuracy: 0.8595
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3317 - accuracy: 0.8646 - val_loss: 0.3383 - val_accuracy: 0.8625
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3308 - accuracy: 0.8661 - val_loss: 0.3533 - val_accuracy: 0.8555
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3279 - accuracy: 0.8664 - val_loss: 0.3461 - val_accuracy: 0.8600
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3239 - accuracy: 0.8677 - val_loss: 0.3495 - val_accuracy: 0.8625
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3222 - accuracy: 0.8668 - val_loss: 0.3526 - val_accuracy: 0.8565
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3231 - accuracy: 0.8684 - val_loss: 0.3423 - val_accuracy: 0.8615
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3186 - accuracy: 0.8668 - val_loss: 0.3465 - val_accuracy: 0.8600
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3190 - accuracy: 0.8711 - val_loss: 0.3582 - val_accuracy: 0.8630
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3151 - accuracy: 0.8729 - val_loss: 0.3482 - val_accuracy: 0.8625
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3127 - accuracy: 0.8709 - val_loss: 0.3633 - val_accuracy: 0.8535
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3108 - accuracy: 0.8726 - val_loss: 0.3461 - val_accuracy: 0.8635

In [22]:
model.save("model.h5")

d:\My Projects\Churn Predict by ANN\.venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [23]:
## Load Tensorboard Extension
%load_ext tensorboard

In [25]:
%tensorboard --logdir logs/fit